* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
}

.container {
  max-width: 100%;
}

.filterContainer {
  background-color: #ffffff;
  padding: 15px;
}

p {     
  margin-bottom: 0 !important;
  font-size: 14px;
  font-weight: 400;
}

hr {
  margin-top: 0 !important;
}

.box {
  padding: 5px 20px;
  font-size: 14px;
  font-weight: 500;    
  background-color: #C5E09B;
  margin-bottom: 15px;
  border-radius: 5px;
  text-align: center;
  border: none;
  outline: none;
}

.box:hover {
  background-color: #769741;
  cursor: pointer;
}

.filterTitle {
  font-weight: 500;
  font-size: 14px;
}

.card-img-top{
  margin-top: 15px;
  height: 175px;
  background-color: #f2f2f2;
}

.card {
  margin-bottom: 15px;
}

.missionName {
  color: rgba(0,0,255,0.6);
  font-weight: bold;
}

.dynamicData {
  font-size: 13px;
}

.details {
  font-size: 13px;
  font-weight: bold;
}

.loadingText {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(224, 24, 24);
}

@media only screen and (max-width: 800px) {
  .actualContent {
    flex-direction: column;
    margin-top: 15px;
  }

  .card {
    width: 20.5rem !important;
  }

  .col-6 {
    text-align: center;
  }

  .box {
    padding: 10px 40px;
    font-size: 16px;
  }

  .filterTitle {
    font-size: 18px;
  }

  .missionName {
    font-size: 20px;
  }

  .dynamicData {
    font-size: 15px;
  }
  
  .details {
    font-size: 15px;
  }

}